In [4]:
# Dependencies
import pandas as pd
import pprint as pp

In [6]:
# Filepath to cities.csv file to read into pandas as a dataframe and view the head of the dataframe
filepath_csv = "../resources/cities.csv"
cities_df = pd.read_csv(filepath_csv, header = 1)
cities_df.head()

   0 jacareacanga  0.1  BR  1528902000  62  -6.22  -57.76   89.6   6.93
0  1   kaitangata  100  NZ  1528905304  94 -46.28  169.85  42.61   5.64
1  2     goulburn   20  AU  1528905078  91 -34.75  149.72  44.32  10.11
2  3         lata   76  IN  1528905305  89  30.78   78.62  59.89   0.94
3  4   chokurdakh    0  RU  1528905306  88  70.62  147.90  32.17   2.95
4  5     martyush   92  RU  1528905306  94  56.40   61.89  55.03   9.33

In [7]:
# Convert df to html code and save to html file
cities_df.to_html("../resources/cities.html", index = False)